snippet rlyfe "Recompose Lifecycle" b
bora adicionar a parada aqui
endsnippet

snippet rhandler "Recompose Lifecycle" b
bora adicionar a parada aqui
endsnippet

snippet rstate "Recompose Lifecycle" b
import withState from 'recompose/withState'

export default (
	withState('state', 'setState', 'initialValue')
)
endsnippet
